/* Réglages de base */

body {
    background: rgba(190, 190, 190, 0.067);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(36, 36, 36, 0.834);
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

ul {
    padding: 0;
}

li {
    padding-right: 20px;
    margin: 0;
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px 5px;
    display: flex;
}

.pointer {
    /* pas visible dans le html car ajouté en js*/
    height: 14px;
    padding-right: 20px;
}

/* titre + formulaire */

#todoListContainer {
    padding: 10px;
    width: 40%;
}

#todoListContainer h1 {
    text-align: start;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.331);
}

#todoListContainer h1 img {
    height: 20px;
    padding-right: 10px;
}

#todoListContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(190, 190, 190, 0.331)
}

#todoListContainer input {
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline-color: rgb(79, 234, 234);
}

/* validation */

#submit {
    margin-top: 10px;
    padding: 5px;
    width: 40%;
    border: none;
    border-radius: 5px;
    background: rgba(122, 213, 122, 0.147);
    transition: 0.2s ease;
    color: rgba(36, 36, 36, 0.834);
}

#submit:hover {
    cursor: pointer;
    background: rgba(122, 213, 122, 0.657);
    transition: 0.2s ease;
}

/* liste de taches */

#taskListContainer {
    text-align: left;
}

#taskList {
    border-bottom: 1px solid rgba(190, 190, 190, 0.331);
}

#taskList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

#taskList li:hover {
    background: rgba(122, 213, 122, 0.147);
    border-radius: 5px;
    transition: 0.2s ease;
}

#taskList li i {
    visibility: hidden;


}

#taskList li:hover i {
    cursor: pointer;
    visibility: visible;
}

#taskList li:hover #delete {
    color: rgba(255, 0, 0, 0.6);
}

#taskList i:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
    cursor: pointer;
}

.i_container {
    width: 20%;
    display: flex;
    justify-content: right;
    text-align: center;
}

#edit {
    color: rgba(0, 0, 0, 0.301);
    font-size: 0.8em;
}

/* liste de tache terminée */

#deleteNav {
    font-style: italic;
    font-size: 1em;
    font-weight: 100;
    color: rgba(36, 36, 36, 0.391);
    display: none;
}

#taskOver i {
    visibility: hidden;
}

#taskOver img {
    display: none;
}

#taskOver li {
    border-radius: 5px;
    transition: 0.2s ease;
}

#taskOver li:hover {
    background: rgba(255, 0, 0, 0.319);
    transition: 0.2s ease;
}

.hidden {
    display: none;
}

@media (max-width:768px) {

    #todoListContainer {
        width: 60%;
    }
    #edit {
        left: 415px;

    }
}

@media (max-width: 360px) {

    main {
        margin-top: 30px;
    }

    #todoListContainer {
        width: 100%;
    }

    #taskList li i {
        visibility: visible;
        margin-left: auto;
        cursor: pointer;
        color: rgba(255, 0, 0, 0.704);
    }

    #taskOver li:hover {
        background: none;

    }
}